anyio
click
colorama
contourpy
cycler
fastapi
fonttools
gunicorn
h11
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pydantic
pyparsing
python-dateutil
pytz
scikit-learn
scipy
sklearn
six
sniffio
starlette
threadpoolctl
typing_extensions
uvicorn
wincertstore
